.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;

  &__side {
    color: #fff;
    height: 40rem;
    transition: all .8s ease;
    // for both sides to stack on top of each other, always give the parent element the position relative
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // hides the back part of the card
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15)

    &--front {
      background-image: $color-grey-light;
    }

    &--back {
      transform: rotateY(180deg);


      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}