.popup {
  position: relative;
  height: 100vh;
  padding: 25rem 0;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.8);

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    margin: 10rem;
    padding: 1rem 0;
    background-color: $color-white;
  }
}
